# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
env/
.venv/

# Variables de entorno 
.env

# VS Code / IDEs
.vscode/
.idea/

# Jupyter Notebooks (archivos temporales)
.ipynb_checkpoints/
